<ion-header
  class="app-header"
  mode="md"
  style="background: none; box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px"
>
  <ion-toolbar>
    <!-- LEFT (Hamburger / Back) -->
    <ion-buttons slot="start">
      <ion-back-button
        *ngIf="showBack"
        defaultHref="/home"
        text=""
      ></ion-back-button>

      <ion-menu-button *ngIf="!showBack"></ion-menu-button>
    </ion-buttons>

    <!-- TITLE (CENTER) -->
    <ion-title class="app-title">
      {{ title }}
    </ion-title>

    <!-- RIGHT (Profile / Action) -->
    <ion-buttons slot="end">
      <!-- NOTIFICATION BELL -->
      <ion-button
        *ngIf="showNotification"
        fill="clear"
        class="notification-btn"
        (click)="onNotificationClick()"
      >
        <ion-icon
          [name]="
            notificationCount > 0 ? 'notifications' : 'notifications-outline'
          "
        >
        </ion-icon>

       <ion-badge
  *ngIf="notificationCount > 0"
  class="notification-badge"
  [class.large]="notificationCount > 9"
  [class.extra-large]="notificationCount > 99"
>
  {{ notificationCount > 99 ? '99+' : notificationCount }}
</ion-badge>
      </ion-button>

      <!-- PROFILE -->
      <ion-button
        *ngIf="showProfile"
        fill="clear"
        class="profile-btn"
        (click)="openProfilePopover($event)"
      >
        <div class="role">{{ resolvedRole }}</div>
        <div class="avatar">{{ resolvedInitial }}</div>
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- PROFILE POPOVER -->
<ion-popover
  [isOpen]="profileOpen"
  [event]="profileEvent"
  (didDismiss)="closePopover()"
>
  <ng-template>
    <ion-list lines="none">
      <!-- 
      <ion-item button (click)="onEditProfile()">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Edit Profile</ion-label>
      </ion-item> -->

      <ion-item button (click)="onLogout()" class="logout">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-popover>
