<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Patient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- 🔹 Segment Navigation -->
  <div class="segment-wrapper">
    <ion-segment
      [value]="activeTab"
      (ionChange)="onSegmentChange($event)"
      scrollable="true"
    >
      <ion-segment-button
        value="prelim"
        *ngIf="isTabAllowed('prelim')"
        [disabled]="isTabDisabled('prelim')"
      >
        <ion-label>PRELIMINARY</ion-label>
      </ion-segment-button>

      <ion-segment-button
        value="medical"
        *ngIf="isTabAllowed('medical')"
        [disabled]="isTabDisabled('medical')"
      >
        <ion-label>MEDICAL</ion-label>
      </ion-segment-button>

      <ion-segment-button
        value="followup"
        *ngIf="isTabAllowed('followup')"
        [disabled]="isTabDisabled('followup')"
      >
        <ion-label>FOLLOW UP</ion-label>
      </ion-segment-button>

      <ion-segment-button
        value="payment"
        *ngIf="isTabAllowed('payment')"
        [disabled]="isTabDisabled('payment')"
      >
        <ion-label>PAYMENT</ion-label>
      </ion-segment-button>

      <ion-segment-button
        value="reports"
        *ngIf="isTabAllowed('reports')"
        [disabled]="isTabDisabled('reports')"
      >
        <ion-label>REPORTS</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>


    <ng-container *ngIf="activeTab">
      <router-outlet></router-outlet>
    </ng-container>


</ion-content>