<ion-menu menuId="mainMenu" contentId="main-content" side="start" class="glass-menu">

  <ion-content class="menu-content">

    <!-- Brand -->
    <div class="menu-brand">
      <div class="brand-icon">
        <ion-icon name="medkit-outline"></ion-icon>
      </div>
      <div class="brand-text">MHC</div>
    </div>

    <!-- Dashboard -->
    <div class="menu-item" (click)="go('/dashboard')">
      <ion-icon name="grid-outline"></ion-icon>
      <span>Patient Dashboard</span>
    </div>

    <!-- Patient Section -->
    <div class="menu-section-title">PATIENT</div>

    <div class="menu-item" (click)="go('/patients/list')">
      <ion-icon name="people-outline"></ion-icon>
      <span>Patient List</span>
      <ion-icon class="chev" name="chevron-forward-outline"></ion-icon>
    </div>

    <div class="menu-item" (click)="go('/SearchAppointments')">
      <ion-icon name="calendar-outline"></ion-icon>
      <span>Search Appointments</span>
    </div>

    <div class="menu-item" (click)="go('/patients')">
      <ion-icon name="add-circle-outline"></ion-icon>
      <span>Create Patient ID</span>
    </div>

    <!-- Medicine -->
    <div class="menu-section-title">MEDICINE INVENTORY</div>

    <div class="menu-item" (click)="go('/medicines')">
      <ion-icon name="medkit-outline"></ion-icon>
      <span>Medicine Dashboard</span>
    </div>

    <div class="menu-item" (click)="go('/medicines')">
      <ion-icon name="add-circle-outline"></ion-icon>
      <span>Create Medicine</span>
    </div>

    <!-- Reports -->
    <div class="menu-item" (click)="go('/reports')">
      <ion-icon name="document-text-outline"></ion-icon>
      <span>Reports</span>
    </div>


    <!-- Notification -->
     <div class="menu-item" (click)="go('/notifications')">
      <ion-icon name="notifications-outline"></ion-icon>
      <span>Notification</span>
    </div>

    <!-- Logout -->
    <div class="menu-item logout" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      <span>Logout</span>
    </div>

  </ion-content>
</ion-menu>
