<app-header title="Notifications Deatil"></app-header>
<div *ngIf="notification" class="detail-wrapper">

  <div class="detail-card">

    <!-- HEADER -->
    <div class="detail-header">
      <div class="avatar">
        {{ notification.name?.charAt(0) }}
      </div>

      <div class="header-info">
        <h2>{{ notification.name }}</h2>
        <span class="date">
          {{ notification.createdOn | date:'medium' }}
        </span>
      </div>
    </div>

    <div class="divider"></div>

    <!-- CONTACT INFO -->
    <div class="info-grid">
      <div class="info-item">
        <label>Email</label>
        <p>{{ notification.email }}</p>
      </div>

      <div class="info-item">
        <label>Phone</label>
        <p>{{ notification.phoneNumber }}</p>
      </div>
    </div>

    <!-- MESSAGE -->
    <div class="message-box">
      <h4>Message</h4>
      <p>{{ notification.message }}</p>
    </div>

  </div>

</div>